.button {
  --btnWidth: auto;
  width: var(--btnWidth);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 36px;
  padding: 12px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  border-radius: var(--border-radius);
  background: var(--default-color-green);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  color: var(--white-text);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  border: 1px solid transparent;
  letter-spacing: -0.3px;
  -webkit-transition: all var(--transition-speed);
  transition: all var(--transition-speed);
}
.button:hover {
  border-color: var(--hover-border);
  -webkit-box-shadow: var(--hover-shadow);
          box-shadow: var(--hover-shadow);
}
.button:active {
  background-color: var(--pressed-color);
}
.button:disabled {
  background: var(--disabled-color);
  cursor: not-allowed;
  border-color: transparent;
}
@media screen and (max-width: 576px) {
  .button {
    width: 100%;
  }
}

.icon {
  width: 16px;
  height: 16px;
}

.iconSmall {
  width: 11px;
  height: 12px;
}

.w81 {
  --btnWidth: 81px;
}

.w100 {
  --btnWidth: 100px;
}

.wBig {
  --btnWidth: 150px;
}