.headerClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--green-100);
  height: 100px;
  max-width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.item {
  border: 2px solid var(--green-700);
  border-radius: 10px;
  padding: 5px 10px;
}
.item:hover {
  background-color: var(--green-200);
}

.item:focus-within {
  background-color: var(--green-200);
}

.active {
  color: var(--green-900);
}en-100: #c8e6c9;
  --green-200: #a5d6a7;
  --green-300: #81c784;
  --green-400: #66bb6a;
  --green-600: #43a047;
  --green-700: #388e3c;
  --green-800: #2e7d32;
  --blue-50: #e3f2fd;
  --blue-100: #bbdefb;
  --blue-200: #90caf9;
  --blue-600: #1e88e5;
  --success: #28a745;
  --warning: #ffc107;
  --danger: #dc3545;
  --info: #17a2b8;
  --text-primary: #212121;
  --text-secondary: #757575;
  --background-light: #f9f9f9;
  --background-dark: #121212;
  --maxWidth: 1920px;
  --containerWidth: 1200px;
  --containerPadding: 5px;
  --color-error: #ef4444;
  --color-warning: #facc15;
  --color-success: #22c55e;
  --color-border: #333;
  --color-divider: #444;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
  marks: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.containerTask {
  min-height: 300px;
  background: var(--green-50);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-inline: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 8px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--grey-100);
  color: black;
  overflow: scroll;
  color: var(--black);
}
body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > .page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.wrapper__container {
  padding-block: toRem(50);
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: var(--containerWidth);
  padding-inline: var(--containerPadding);
  margin-inline: auto;
}

.page {
  width: 100%;
}

.headerClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--green-100);
  height: 100px;
  max-width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.item {
  border: 2px solid var(--green-700);
  border-radius: 10px;
  padding: 5px 10px;
}
.item:hover {
  background-color: var(--green-200);
}

.item:focus-within {
  background-color: var(--green-200);
}

.active {
  color: var(--green-900);
}