.containerTask6 {
  height: 100%;
  gap: 20px;
}
.kitchen {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.listDishes {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--green-300);
  border-radius: 8px;
  min-height: 100px;
  flex-basis: 33%;
  gap: 5px;
}
.addButton {
  width: 150px;
  padding: 5px;
  border: 2px solid var(--green-300);
  border-radius: 8px;
  transition: all 0.3s;
  font-size: 14px;

  &:hover {
    background-color: var(--green-300);
  }
}
.addDishes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.input {
  padding: 5px 10px;
  border: 2px solid var(--green-300);
  border-radius: 8px;
}
.headList {
  font-size: 12px;
  font-weight: 500;
  background-color: var(--green-200);

  width: 100%;
  padding: 5px;
  border-radius: 8px;
}
.itemButton {
  @extend .addButton;
  padding: 5px;
  width: 80px;
  font-size: 10px;
  border-color: var(--green-200);
  &:hover {
    background-color: var(--green-200);
  }
}
.dish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 5px;
  gap: 5px;
  margin-bottom: 2px;
  align-items: center;
  background-color: var(--green-100);
  border-radius: 8px;
  text-align: left;
}
.itemDish {
  font-size: 10px;
}
.dishEmpty {
  color: var(--color-warning);
  font-size: 10px;
}
