.input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.fakeInput {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: var(--border-radius-small);
}
.fakeInput:hover, .fakeInput:active, .fakeInput:focus {
  outline-offset: 1px;
  outline: 1px solid var(--text-default);
}

.selected {
  outline: 1px solid var(--text-default);
  outline-offset: 1px;
}

.colorPickerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 230px;
  border-radius: var(--border-radius);
  border: 1px solid var(--secondary-grey);
  gap: 24px;
  padding: 9px;
}

.colorPickerHeader {
  color: var(--text-default);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;
}

.colorPalette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4px;
}