.link, .disabled {
  color: var(--primary-green);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.3333;
  letter-spacing: -0.3px;
}
.link:hover, .disabled:hover {
  text-decoration: underline;
  cursor: pointer;
}
.link:active, .disabled:active {
  color: var(--pressed-green);
  text-decoration: underline;
  cursor: pointer;
}

.disabled {
  color: var(--disabled-link);
  pointer-events: none;
  aria-disabled: true;
}