.mainContainer {
  background-color: var(--main-background);
  min-height: 100vh;
  padding: var(--containerPadding);
  -webkit-column-gap: 52px;
     -moz-column-gap: 52px;
          column-gap: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px 42px;
}

.mainGroup, .mainGroupLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}

.mainGroupLink {
  row-gap: 42px;
}