.icon {
  cursor: pointer;
}

.size_m {
  width: 12px;
  height: 12px;
}

.size_s {
  width: 10px;
  height: 10px;
}

.size_l {
  width: 16px;
  height: 16px;
}

.color_modal {
  color: var(--color-modal);
}