.selectField {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 2px;
}

.label {
  color: var(--text-default);
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;
  text-align: left;
}

.select, .selectError {
  border-bottom: 1px solid var(--underline-default);
  padding-bottom: 13px;
  width: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  outline: none;
  color: var(--text-default);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.333333;
  letter-spacing: -0.3px;
}
.select::-webkit-input-placeholder, .selectError::-webkit-input-placeholder {
  opacity: 0.8;
  color: var(--text-default);
}
.select::-moz-placeholder, .selectError::-moz-placeholder {
  opacity: 0.8;
  color: var(--text-default);
}
.select:-ms-input-placeholder, .selectError:-ms-input-placeholder {
  opacity: 0.8;
  color: var(--text-default);
}
.select::-ms-input-placeholder, .selectError::-ms-input-placeholder {
  opacity: 0.8;
  color: var(--text-default);
}
.select::placeholder, .selectError::placeholder {
  opacity: 0.8;
  color: var(--text-default);
}
.select::-webkit-input-placeholder:active, .selectError::-webkit-input-placeholder:active {
  opacity: 1;
}
.select::-moz-placeholder:active, .selectError::-moz-placeholder:active {
  opacity: 1;
}
.select:-ms-input-placeholder:active, .selectError:-ms-input-placeholder:active {
  opacity: 1;
}
.select::-ms-input-placeholder:active, .selectError::-ms-input-placeholder:active {
  opacity: 1;
}
.select::placeholder:active, .selectError::placeholder:active {
  opacity: 1;
}
.select:focus, .selectError:focus, .select:active, .selectError:active {
  border-color: var(--text-default);
}
.select:focus::-webkit-input-placeholder, .selectError:focus::-webkit-input-placeholder {
  opacity: 1;
}
.select:focus::-moz-placeholder, .selectError:focus::-moz-placeholder {
  opacity: 1;
}
.select:focus:-ms-input-placeholder, .selectError:focus:-ms-input-placeholder {
  opacity: 1;
}
.select:focus::-ms-input-placeholder, .selectError:focus::-ms-input-placeholder {
  opacity: 1;
}
.select:focus::placeholder, .selectError:focus::placeholder {
  opacity: 1;
}

.selectError {
  border-color: var(--underline-error);
}
.selectError::-webkit-input-placeholder {
  color: var(--text-default);
  opacity: 1;
}
.selectError::-moz-placeholder {
  color: var(--text-default);
  opacity: 1;
}
.selectError:-ms-input-placeholder {
  color: var(--text-default);
  opacity: 1;
}
.selectError::-ms-input-placeholder {
  color: var(--text-default);
  opacity: 1;
}
.selectError::placeholder {
  color: var(--text-default);
  opacity: 1;
}
.selectError:focus, .selectError:active {
  border-color: var(--underline-error);
}

.error, .errorVisible {
  color: var(--underline-error);
  border-color: var(--underline-error);
  font-size: 10px;
  text-align: left;
  line-height: 1.2;
  letter-spacing: -0.2px;
  -webkit-transition: opacity var(--transition-speed) ease;
  transition: opacity var(--transition-speed) ease;
  opacity: 0;
}

.errorVisible {
  opacity: 1;
  -webkit-transition: opacity var(--transition-speed) ease;
  transition: opacity var(--transition-speed) ease;
}

.field {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}