.toast {
  max-width: 242px;
  max-height: 52px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  -webkit-box-shadow: var(--modal-shadow);
          box-shadow: var(--modal-shadow);
  background-color: var(--main-background);
  position: fixed;
  padding: 14px 16px;
  top: 20px;
  right: 20px;
}

.message {
  color: var(--text-default);
  font-size: 15px;
  line-height: 1.66667;
  letter-spacing: -0.6px;
}