.borderClass {
  width: 220px;
  height: 260px;
  border: 2px solid var(--grey-400);
  border-radius: 8px;
}

.correct {
  @extend .borderClass;
  border: 2px solid var(--success);
}

.error {
  @extend .borderClass;
  border: 2px solid var(--danger);
}
.errorMessage {
  color: var(--danger);
  margin-bottom: 10px;
  transition: all 0.3s;
}

.inputWord {
  width: 200px;
  outline: none;
  outline: 1px solid var(--blue-600);
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
  &:hover,
  &:active,
  &:focus {
    outline-width: 2px;
  }
}
.label {
  font-size: 12px;
}
.cardword {
  font-size: 18px;
  line-height: 1.4;
  font-style: italic;
}
.img {
  width: 80px;
  height: 80px;
  background-color: var(--grey-0);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;

  align-items: center;
}

.button {
  @extend .inputWord;
  width: 150px;
  text-align: center;
  transition: all 0.3s;
  &:hover {
    background-color: var(--blue-200);
  }
}
